services:
  vaultwarden:
    image: {{ vaultwarden_image }}:{{ vaultwarden_image_tag }}
    container_name: {{ vaultwarden_container_name }}
    volumes:
      - ./data/vaultwarden:/data:rw
    secrets:
      - ADMIN_TOKEN
      - SMTP_USERNAME
      - SMTP_PASSWORD
    environment:
      - WEBSOCKET_ENABLED=true
      - ROCKET_PORT=8080
      - ADMIN_TOKEN_FILE=/run/secrets/ADMIN_TOKEN
      - SMTP_USERNAME_FILE=/run/secrets/SMTP_USERNAME
      - SMTP_PASSWORD_FILE=/run/secrets/SMTP_PASSWORD
    env_file:
      - ./config/.env
    networks:
      - default
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.vaultwarden.entrypoints=https
      - traefik.http.routers.vaultwarden.rule=Host(`{{ vaultwarden_domain }}`)
      - traefik.http.routers.vaultwarden.service=vaultwarden
      - traefik.http.services.vaultwarden.loadbalancer.server.port=8080
      - traefik.http.routers.vaultwarden-sockets.entrypoints=https
      - traefik.http.routers.vaultwarden-sockets.rule=Host(`{{ vaultwarden_domain }}`) && Path(`/notifications/hub`)
      - traefik.http.routers.vaultwarden-sockets.service=vaultwarden-sockets
      - traefik.http.services.vaultwarden-sockets.loadbalancer.server.port=3012
      - traefik.http.routers.vaultwarden-admin.entrypoints=https
      - traefik.http.routers.vaultwarden-admin.rule=Host(`{{ vaultwarden_domain }}`) && Path(`/admin`)
      - traefik.http.routers.vaultwarden-admin.middlewares=authelia@docker
      - traefik.http.routers.vaultwarden-admin.service=vaultwarden-admin
      - traefik.http.services.vaultwarden-admin.loadbalancer.server.port=8080
      - flame.type=application
      - flame.name=vaultwarden
      - flame.url={{ vaultwarden_domain }}
      - flame.icon=shield-key
    user: {{ core_data_uid }}:{{ core_data_gid }}
    restart: always

  vaultwarden_backup:
    image: {{ vaultwarden_backup_image }}:{{ vaultwarden_backup_image_tag }}
    container_name: {{ vaultwarden_backup_container_name }}
    depends_on:
      - vaultwarden
    volumes:
      - ./data/vaultwarden-backup:/backup:rw
    volumes_from:
      - vaultwarden
    environment:
      - CRON_TIME=0 */12 * * *
      - DELETE_AFTER=14
      - BACKUP_DIR=/backup
      - UID={{ core_data_uid }}
      - GID={{ core_data_gid }}
      - TIMESTAMP=true
      - TZ={{ core_timezone }}
    networks:
      - default
    restart: always

  vaultwarden_ldap:
    image: {{ vaultwarden_ldap_image }}:{{ vaultwarden_ldap_image_tag }}
    container_name: {{ vaultwarden_ldap_container_name }}
    depends_on:
      - vaultwarden
    volumes:
      - ./config/config.toml:/config.toml:ro
    environment:
      CONFIG_PATH: /config.toml
      RUST_BACKTRACE: 1
    networks:
      - default
      - lldap
    restart: always

secrets:
  ADMIN_TOKEN:
    file: ./secrets/ADMIN_TOKEN
  SMTP_USERNAME:
    file: ./secrets/SMTP_USERNAME
  SMTP_PASSWORD:
    file: ./secrets/SMTP_PASSWORD

networks:
  default:
    name: vaultwarden
  lldap:
    external: true
  traefik:
    external: true
