verbose = false

ldap_port = 3890
http_port = 9090

http_url = "https://{{ lldap_interface_domain }}"

ldap_base_dn = "{{ lldap_base_dn }}"

ldap_user_dn = "{{ lldap_admin_username }}"
ldap_user_email = "{{ lldap_admin_email }}"

database_url = "sqlite:///data/users.db?mode=rwc"
key_file = "/data/private_key"

[smtp_options]
enable_password_reset = true
server = "{{ smtp_host }}"
port = {{ smtp_port }}
smtp_encryption = "STARTTLS"
from="LLDAP <{{ smtp_from }}>"
reply_to="LLDAP <{{ smtp_from }}>"

[ldaps_options]
enabled = false
