services:
  dashdot:
    image: {{ dashdot_image }}:{{ dashdot_image_tag }}
    container_name: {{ dashdot_container_name }}
    privileged: true
    volumes:
      - /:/mnt/host:ro
    environment:
      - DASHDOT_SHOW_HOST={{ dashdot_show_host | to_json }}
      - DASHDOT_ENABLE_CPU_TEMPS={{ dashdot_enable_cpu_temps | to_json }}
      - DASHDOT_USE_IMPERIAL={{ dashdot_use_imperial | to_json }}
      - DASHDOT_ALWAYS_SHOW_PERCENTAGES={{ dashdot_always_show_percentages | to_json }}
      - DASHDOT_PAGE_TITLE={{ dashdot_page_title }}
    networks:
      - default
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.dashdot.entrypoints=https
      - traefik.http.routers.dashdot.rule=Host(`{{ dashdot_domain }}`)
      - traefik.http.routers.dashdot.middlewares=authelia@docker
      - flame.type=application
      - flame.name=dashdot
      - flame.url={{ dashdot_domain }}
      - flame.icon=view-dashboard
    restart: always

networks:
  default:
    name: dashdot
  traefik:
    external: true
