entryPoints:
  http:
    address: :80
    http:
      redirections:
        entryPoint:
          to: https

  https:
    address: :443
    http:
      tls:
        certResolver: letsEncrypt
        domains:
          {% for domain in domains %}
          - main: {{ domain.host }}
          - main: "*.{{ domain.host }}"
          {% endfor %}
      middlewares:
        - hsts@file

providers:
  docker:
    exposedByDefault: false
    network: traefik
    allowEmptyServices: true
  file:
    directory: /etc/traefik/dynamic

api:
  dashboard: true

log:
  level: {{ traefik_log_level }}

certificatesResolvers:
  letsEncrypt:
    acme:
      email: {{ traefik_email }}
      dnsChallenge:
        provider: {{ traefik_dns_provider }}
        resolvers:
          - 1.1.1.1:53
          - 8.8.8.8:53
