#!/usr/bin/env bash

###
### Installation
###

if [[ "$(occ status)" == *"installed: false"* ]]; then
  occ maintenance:install \
    --admin-user="{{ nextcloud_admin_username }}" \
    --admin-pass="{{ nextcloud_admin_password }}" \
    --data-dir="/data" \
    --database="mysql" \
    --database-name="nextcloud" \
    --database-host="mariadb" \
    --database-user="nextcloud" \
    --database-pass="nextcloud"
fi

###
### Connection
###

occ config:system:set trusted_domains 0 --value="{{ nextcloud_domain }}"

occ config:system:set trusted_proxies 0 --value="{{ traefik_network.network.IPAM.Config[0].Subnet }}"
occ config:system:set overwriteprotocol --value="https"

occ config:system:set overwrite.cli.url --value="https://{{ nextcloud_domain }}"

###
### Redis
###

occ config:system:set redis host --value="redis"
occ config:system:set redis port --value="6379" --type="integer"
occ config:system:set memcache.distributed --value="'\OC\Memcache\Redis'"
occ config:system:set memcache.locking --value="'\OC\Memcache\Redis'"

###
### Mail
###

occ config:system:set mail_smtphost --value="{{ smtp_host }}"
occ config:system:set mail_smtpport --value="{{ smtp_port }}" --type="integer"
occ config:system:set mail_smtpname --value="{{ smtp_username }}"
occ config:system:set mail_smtppassword --value="{{ smtp_password }}"
occ config:system:set mail_smtpsecure --value="tls"
occ config:system:set mail_domain --value="{{ (smtp_from | split('@'))[1] }}"
occ config:system:set mail_from_address --value="{{ (smtp_from | split('@'))[0] }}"

###
### LDAP
###

occ app:install user_ldap
occ app:enable user_ldap

if [ -z "$(occ ldap:show-config)" ]; then
  occ ldap:create-empty-config
fi

occ ldap:set-config s01 ldapHost "ldap://lldap"
occ ldap:set-config s01 ldapPort 3890

occ ldap:set-config s01 ldapAgentName "uid={{ lldap_admin_username }},ou=people,{{ lldap_base_dn }}"
occ ldap:set-config s01 ldapAgentPassword "{{ lldap_admin_password }}"

occ ldap:set-config s01 ldapConfigurationActive 1

occ ldap:set-config s01 ldapBase "{{ lldap_base_dn }}"
occ ldap:set-config s01 ldapBaseUsers "{{ lldap_base_dn }}"
occ ldap:set-config s01 ldapBaseGroups "{{ lldap_base_dn }}"

occ ldap:set-config s01 ldapLoginFilter "'(&(objectclass=person)(uid=%uid))'"
occ ldap:set-config s01 ldapUserFilter "'(&(objectclass=person)(memberOf=cn={{ nextcloud_login_group }},ou=groups,{{ lldap_base_dn }}))'"
{% if nextcloud_groups is defined %}
occ ldap:set-config s01 ldapGroupFilter "'(&(objectclass=groupOfUniqueNames)(|{% for group in nextcloud_groups %}(cn={{ group }}){% endfor %}))'"
{% endif %}

occ ldap:set-config s01 ldapExpertUsernameAttr "uid"

###
### OpenID Connect
###

occ app:install oidc_login
occ app:enable oidc_login

occ config:system:set oidc_login_provider_url --value="https://{{ authelia_domain }}"
occ config:system:set oidc_login_client_id --value="nextcloud"
occ config:system:set oidc_login_client_secret --value="{{ authelia_identity_providers_oidc_clients_nextcloud_secret }}"
occ config:system:set oidc_login_hide_password_form --value="true" --type="boolean"
occ config:system:set oidc_login_use_id_token --value="true" --type="boolean"

occ config:system:set oidc_login_attributes id --value="preferred_username"
occ config:system:set oidc_login_attributes name --value="name"
occ config:system:set oidc_login_attributes mail --value="email"
occ config:system:set oidc_login_attributes ldap_uid --value="preferred_username"
occ config:system:set oidc_login_attributes groups --value="groups"

occ config:system:set oidc_login_scope --value="'openid profile email groups'"
occ config:system:set oidc_login_proxy_ldap --value="true" --type="boolean"
occ config:system:set oidc_login_disable_registration --value="true" --type="boolean"
occ config:system:set oidc_login_update_avatar --value="true" --type="boolean"

{% if nextcloud_apps_disable is defined %}
###
### Apps
###

{%   for app in nextcloud_apps_disable %}
occ app:disable {{ app }}
{%   endfor %}

{% endif -%}

###
### Miscellaneous
###

occ config:system:set allow_user_to_change_display_name --value="false" --type="boolean"
occ config:system:set lost_password_link --value="disabled"

occ config:system:set default_phone_region --value="{{ nextcloud_phone_region }}"
