services:
  traefik:
    image: {{ traefik_image }}:{{ traefik_image_tag }}
    container_name: {{ traefik_container_name }}
    volumes:
      - ./config:/etc/traefik:ro
      - ./data/acme.json:/acme.json:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 80:80
      - 443:443
    secrets:
      {% for secret in traefik_dns_provider_secrets %}
      - {{ secret }}
      {% endfor %}
    environment:
      {% for secret in traefik_dns_provider_secrets %}
      - {{ secret }}_FILE=/run/secrets/{{ secret }}
      {% endfor %}
    networks:
      - default
    labels:
      - traefik.enable=true
      - traefik.http.routers.traefik.entrypoints=https
      - traefik.http.routers.traefik.rule=Host(`{{ traefik_dashboard_domain }}`)
      - traefik.http.routers.traefik.service=api@internal
      - traefik.http.routers.traefik.middlewares=authelia@docker
      - flame.type=application
      - flame.name=traefik
      - flame.url={{ traefik_dashboard_domain }}
      - flame.icon=traffic-light
    restart: always

secrets:
  {% for secret in traefik_dns_provider_secrets %}
  {{ secret }}:
    file: ./secrets/{{ secret }}
  {% endfor %}

networks:
  default:
    name: traefik
