theme: auto

default_redirection_url: {{ authelia_default_redirection_url }}
default_2fa_method: totp

authentication_backend:
  ldap:
    url: ldap://lldap:3890
    base_dn: {{ lldap_base_dn }}
    additional_users_dn: ou=people
    users_filter: (&(|({username_attribute}={input})({mail_attribute}={input}))(objectClass=person))
    username_attribute: uid
    mail_attribute: mail
    display_name_attribute: displayName
    additional_groups_dn: ou=groups
    groups_filter: (member={dn})
    group_name_attribute: cn
    user: cn={{ lldap_admin_username }},ou=people,{{ lldap_base_dn }}

password_policy:
  standard:
    enabled: true
    require_uppercase: true
    require_lowercase: true
    require_number: true
    require_special: true

totp:
  issuer: {{ authelia_totp_issuer }}

webauthn:
  display_name: {{ authelia_webauthn_display_name }}

access_control:
  rules:
    {% for domain in domains %}
    - domain: {{ domain.host }}
      policy: two_factor
    - domain: "*.{{ domain.host }}"
      policy: two_factor
    {% endfor %}

session:
  domain: {{ authelia_session_domain }}
  redis:
    host: redis
    port: 6379

storage:
  postgres:
    host: postgres
    database: authelia
    username: authelia
    password: authelia

notifier:
  smtp:
    host: {{ smtp_host }}
    port: {{ smtp_port }}
    username: {{ smtp_username }}
    sender: Authelia <{{ smtp_from }}>
    subject: "{title}"

identity_providers:
  oidc:
    clients:
      - id: nextcloud
        description: Nextcloud
        secret: $plaintext${{ authelia_identity_providers_oidc_clients_nextcloud_secret }}
        authorization_policy: two_factor
        scopes:
          - openid
          - profile
          - email
          - groups
        redirect_uris:
          - https://{{ nextcloud_domain }}/apps/oidc_login/oidc
