services:
  inadyn:
    image: {{ inadyn_image }}:{{ inadyn_image_tag }}
    container_name: {{ inadyn_container_name }}
    volumes:
      - ./config/inadyn.conf:/etc/inadyn.conf:ro
    networks:
      - default
    restart: always

networks:
  default:
    name: inadyn
