DOMAIN=https://{{ vaultwarden_domain }}

SIGNUPS_ALLOWED={{ vaultwarden_signups_allowed | to_json }}
SIGNUPS_VERIFY=true

INVITATION_ORG_NAME={{ vaultwarden_organisation_name }}

SMTP_HOST={{ smtp_host }}
SMTP_PORT={{ smtp_port }}
SMTP_FROM={{ smtp_from }}
