vaultwarden_url = "http://vaultwarden:8080"
vaultwarden_admin_token = "{{ vaultwarden_admin_token }}"

ldap_host = "lldap"
ldap_port = 3890

ldap_bind_dn = "cn={{ lldap_admin_username }},ou=people,{{ lldap_base_dn }}"
ldap_bind_password = "{{ lldap_admin_password }}"

ldap_search_base_dn = "{{ lldap_base_dn }}"
ldap_search_filter = "(&(objectClass=person)(memberOf=cn={{ vaultwarden_invite_group }},ou=groups,{{ lldap_base_dn }}))"
