services:
  flame:
    image: {{ flame_image }}:{{ flame_image_tag }}
    container_name: {{ flame_container_name }}
    volumes:
      - ./data:/app/data:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
    command:
      - node
      - server.js
    secrets:
      - PASSWORD
    environment:
      - PASSWORD_FILE=/run/secrets/PASSWORD
    networks:
      - default
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.flame.entrypoints=https
      - traefik.http.routers.flame.rule=Host(`{{ flame_domain }}`)
      - flame.type=application
      - flame.name=Flame
      - flame.url={{ flame_domain }}
      - flame.icon=fire
    restart: always

secrets:
  PASSWORD:
    file: ./secrets/PASSWORD

networks:
  default:
    name: flame
  traefik:
    external: true
