services:
  lldap:
    image: {{ lldap_image }}:{{ lldap_image_tag }}
    container_name: {{ lldap_container_name }}
    volumes:
      - ./config/lldap_config.toml:/data/lldap_config.toml:ro
      - ./data:/data:rw
    secrets:
      - LLDAP_JWT_SECRET
      - LLDAP_LDAP_USER_PASS
      - LLDAP_SMTP_OPTIONS__USERNAME
      - LLDAP_SMTP_OPTIONS__PASSWORD
    environment:
      - UID={{ core_data_uid }}
      - GID={{ core_data_gid }}
      - TZ={{ core_timezone }}
      - LLDAP_JWT_SECRET_FILE=/run/secrets/LLDAP_JWT_SECRET
      - LLDAP_LDAP_USER_PASS_FILE=/run/secrets/LLDAP_LDAP_USER_PASS
      - LLDAP_SMTP_OPTIONS__USERNAME_FILE=/run/secrets/LLDAP_SMTP_OPTIONS__USERNAME
      - LLDAP_SMTP_OPTIONS__PASSWORD_FILE=/run/secrets/LLDAP_SMTP_OPTIONS__PASSWORD
    networks:
      - default
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.lldap.entrypoints=https
      - traefik.http.routers.lldap.rule=Host(`{{ lldap_interface_domain }}`)
      - traefik.http.routers.lldap.service=lldap
      - traefik.http.services.lldap.loadbalancer.server.port=9090
      - traefik.http.routers.lldap.middlewares=authelia@docker
      - flame.type=application
      - flame.name=lldap
      - flame.url={{ lldap_interface_domain }}
      - flame.icon=account-multiple
    restart: always

secrets:
  LLDAP_JWT_SECRET:
    file: ./secrets/LLDAP_JWT_SECRET
  LLDAP_LDAP_USER_PASS:
    file: ./secrets/LLDAP_LDAP_USER_PASS
  LLDAP_SMTP_OPTIONS__USERNAME:
    file: ./secrets/LLDAP_SMTP_OPTIONS__USERNAME
  LLDAP_SMTP_OPTIONS__PASSWORD:
    file: ./secrets/LLDAP_SMTP_OPTIONS__PASSWORD

networks:
  default:
    name: lldap
  traefik:
    external: true
