services:
  authelia:
    image: {{ authelia_image }}:{{ authelia_image_tag }}
    container_name: {{ authelia_container_name }}
    depends_on:
      - postgres
      - redis
    volumes:
      - ./config/configuration.yml:/config/configuration.yml:ro
    secrets:
      - AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD
      - AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET
      - AUTHELIA_IDENTITY_PROVIDERS_OIDC_ISSUER_PRIVATE_KEY
      - AUTHELIA_JWT_SECRET
      - AUTHELIA_NOTIFIER_SMTP_PASSWORD
      - AUTHELIA_SESSION_SECRET
      - AUTHELIA_STORAGE_ENCRYPTION_KEY
    environment:
      - AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD_FILE=/run/secrets/AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD
      - AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET_FILE=/run/secrets/AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET
      - AUTHELIA_IDENTITY_PROVIDERS_OIDC_ISSUER_PRIVATE_KEY_FILE=/run/secrets/AUTHELIA_IDENTITY_PROVIDERS_OIDC_ISSUER_PRIVATE_KEY
      - AUTHELIA_JWT_SECRET_FILE=/run/secrets/AUTHELIA_JWT_SECRET
      - AUTHELIA_NOTIFIER_SMTP_PASSWORD_FILE=/run/secrets/AUTHELIA_NOTIFIER_SMTP_PASSWORD
      - AUTHELIA_SESSION_SECRET_FILE=/run/secrets/AUTHELIA_SESSION_SECRET
      - AUTHELIA_STORAGE_ENCRYPTION_KEY_FILE=/run/secrets/AUTHELIA_STORAGE_ENCRYPTION_KEY
    networks:
      - default
      - lldap
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.authelia.entrypoints=https
      - traefik.http.routers.authelia.rule=Host(`{{ authelia_domain }}`)
      - traefik.http.middlewares.authelia.forwardauth.address=http://authelia:9091/api/verify?rd=https%3A%2F%2F{{ authelia_domain }}%2F
      - traefik.http.middlewares.authelia.forwardauth.trustforwardheader=true
      - traefik.http.middlewares.authelia.forwardauth.authresponseheaders=Remote-User,Remote-Groups,Remote-Name,Remote-Email
      - flame.type=application
      - flame.name=authelia
      - flame.url={{ authelia_domain }}
      - flame.icon=lock
    user: {{ core_data_uid }}:{{ core_data_gid }}
    restart: always

  postgres:
    image: {{ authelia_postgres_image }}:{{ authelia_postgres_image_tag }}
    container_name: {{ authelia_postgres_container_name }}
    volumes:
      - ./data/postgres:/var/lib/postgresql/data:rw
    environment:
      - POSTGRES_USER=authelia
      - POSTGRES_PASSWORD=authelia
    networks:
      - default
    user: {{ core_data_uid }}:{{ core_data_gid }}
    restart: always

  redis:
    image: {{ authelia_redis_image }}:{{ authelia_redis_image_tag }}
    container_name: {{ authelia_redis_container_name }}
    volumes:
      - ./data/redis:/data:rw
    networks:
      - default
    user: {{ core_data_uid }}:{{ core_data_gid }}
    restart: always

secrets:
  AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD:
    file: ./secrets/AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD
  AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET:
    file: ./secrets/AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET
  AUTHELIA_IDENTITY_PROVIDERS_OIDC_ISSUER_PRIVATE_KEY:
    file: ./secrets/AUTHELIA_IDENTITY_PROVIDERS_OIDC_ISSUER_PRIVATE_KEY
  AUTHELIA_JWT_SECRET:
    file: ./secrets/AUTHELIA_JWT_SECRET
  AUTHELIA_NOTIFIER_SMTP_PASSWORD:
    file: ./secrets/AUTHELIA_NOTIFIER_SMTP_PASSWORD
  AUTHELIA_SESSION_SECRET:
    file: ./secrets/AUTHELIA_SESSION_SECRET
  AUTHELIA_STORAGE_ENCRYPTION_KEY:
    file: ./secrets/AUTHELIA_STORAGE_ENCRYPTION_KEY

networks:
  default:
    name: authelia
  lldap:
    external: true
  traefik:
    external: true
